{% extends 'login/login_base.html' %}

<!---Above is Header Part after thsi add any below part-->

<!--- Adding Css background-->

{% block title %}Sign Up {% endblock %}
  

{% block content %}
  <div class="container">
    
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form }}
      <button type="submit" class="btn btn-primary">Create an account</button>
    </form>
    <div class="card-footer white text-black text-center">
      Already have an account? <a href="{% url 'login' %}">Log in</a>
    </div>
  </div>
      
          
{% endblock %}
